{% extends 'base_backofficeclient.html.twig' %}

{% block title %}Mes services{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <div>
                <h2>Mes services</h2>
                <p class="text-secondary">Gère ici toutes tes prestations principales et options supplémentaires.</p>
            </div>
            <div>
                <a href="{{ path("app_service_add") }}" class="btn btn-primary">+ Ajouter un service</a><br /><br />
                <a href="{{ path("app_category") }}" class="btn btn-primary">Gérer les catégories</a>

            </div>
        </div>

        <ul class="nav nav-tabs mb-3">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Upsells</a>
            </li>
        </ul>

        <table class="table text-white align-middle">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Durée</th>
                <th>Prix</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for service in services %}
                <tr>
                    <td>
                        <img src="/uploads/{{ service.image }}" alt="{{ service.name }}"> {{ service.name }}
                    </td>
                    <td>{{ service.duration }} min</td>
                    <td>{{ service.price/100 }} €</td>
                    <td>
                        <form method="post" action="{{ path('app_service_delete', {'id': service.id}) }}" onsubmit="return confirm('Voulez-vous supprimer cette donnée ?');">
                            <a href="{{ path("app_service_edit", {"id": service.id}) }}"><i class="fas fa-pen-to-square" ></i></a>
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ service.id) }}">
                            <button class="border-white"><i class="fas fa-trash"></i></button>
                        </form>
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
