{% extends 'base_backofficeclient.html.twig' %}

{% block title %}Mes upsells{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <div>
                <h2>Mes upsells</h2>
                <p class="text-secondary">Gère ici toutes tes options supplémentaires.</p>
            </div>
            <div>
                <a href="{{ path("app_upsell_add") }}" class="btn btn-primary">+ Ajouter un upsell</a><br /><br />
            </div>
        </div>

        <ul class="nav nav-tabs mb-3">
            <li class="nav-item">
                <a class="nav-link text-white" aria-current="page" href="{{ path("app_service") }}">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Upsells</a>
            </li>
        </ul>

        <table class="table text-white align-middle">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Durée</th>
                <th>Prix</th>
                <th>Services</th>
                <th>Position</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for upsell in upsells %}
                <tr>
                    <td>
                        <img src="/uploads/{{ upsell.image }}" alt="{{ upsell.name }}"> {{ upsell.name }}
                    </td>
                    <td>{{ upsell.duration }} min</td>
                    <td>{{ upsell.price/100 }} €</td>
                    <td>{% for service in upsell.services %} {{ service.name }}{% endfor %}</td>
                    <td>{{ upsell.position }}</td>
                    <td>
                        <form method="post" action="{{ path('app_upsell_delete', {'id': upsell.id}) }}" onsubmit="return confirm('Voulez-vous supprimer cette donnée ?');">
                            <a href="{{ path("app_upsell_edit", {"id": upsell.id}) }}"><i class="fas fa-pen-to-square" ></i></a>
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ upsell.id) }}">
                            <button class="border-white"><i class="fas fa-trash"></i></button>
                        </form>
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
